* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 150px !important;
    overflow-x: hidden;
    main {
        min-height: 100vh;
        position: relative;
        width: auto;
        // text-align: center;
        display: block;
    }
    .bg-img {
        margin-top:-1.2rem;
        padding:0;
        background-color:#1e1a19 !important;
        background: url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;
        background-size: cover;
        
        background-position: right;
        // background: url("./images/boston-skyline.jpg");
    }
    .bg-img:before {
        z-index: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .8;
        background: -webkit-linear-gradient(to top, #C33764, #1D2671),url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;
        background: linear-gradient(to top, #C33764, #1D2671),url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;

    }
    .header {
        font-family: 'Yellowtail', cursive;
        color: white;
        font-size: 2.3rem;
        padding-top: 12%;
        margin-left: -8rem;
        text-align: center;
        z-index: 10;
        position: relative;
        cursor: pointer;
    }    
    
    #filterDeals {
        display:inline-block;
        width: 100%;
        text-align: center;
        
        #locationSelector {
            border: none;
            border-radius: .5rem;
            margin: 10% auto 0 auto;
            position: absolute;
            background-color: #ffffff;
            transition: all 3s ease-out;
            max-width: 70%;
            z-index: 10;
            overflow-x: hidden;
            left: 0;
            right: 0;
            input {
                border: none;
                background-color: inherit !important;
                color: rgb(75, 75, 75);
                font-size: 1.3rem;
                text-align: center;
                position: relative;
                width: 100%;
                background-color: #ffffff  !important;
                padding-bottom: .5rem;
                
            }
            ul {
                border-top:2px solid rgb(231, 231, 231);
                padding-top: .5rem;
                text-align: left !important;
                padding-left: 2rem;
                li {
                    list-style-type: none;
                    
                    i {
                        color: gray;
                        font-size: .8rem;
                        margin-right: .6rem;
                    }
                }
            }
        }

        #dayOfWeekSelector {
            margin: 8rem auto 2rem auto;
            
            label {
                display: inline; 
                padding: 2rem; 
                position: relative; 
                padding-left: 20px;   
                input {
                    display: none;                    
                }
                span {
                    font-family: helvetica;
                    width: 15px; height: 15px; 
                    position: absolute; 
                    overflow: hidden; 
                    line-height: 3; 
                    text-align: center; 
                    border-radius: 100%; 
                    font-size: 10pt; 
                    left:0;
                    top: 50%; 
                    margin: -7.5px auto 0 .4rem;
                    height: 2.5rem;
                    width: 2.5rem;
                    background-color: #5d517ec5;
                    color: white;
                    font-weight: bold;
                    cursor:pointer;                    
                } 
                input:checked + span {
                    background: rgba(226, 161, 22, 0.829);                    
                }            
            }
        }
    }
    
    #tagline {
        color: white;
        margin: 2rem 1.4rem 1.4rem 1.4rem;
        transition: all 2s ease-out;
        font-family: 'Comfortaa', cursive;
        font-weight: bolder;
        position: relative;
        z-index: 5;
        text-align: center;
        .location {
            text-transform: capitalize;
        }
    }
    .seeAllDealsWrapper {
        background: #DA4453;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #802189, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #802189, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        z-index: 5;
        text-align: center;
        max-width: 100%;
        margin: 1rem 1.4rem;
        border-radius: .6rem;
        .seeAllDeals {
            color: white;

            transition: all 2s ease-out;
            font-family: 'Comfortaa', cursive;
            position: relative;
            z-index: 5;

            padding:.7rem;
        }        
    }


    #card-wrapper {
        padding-bottom: 2rem;
        text-align: center;
        margin: auto auto;
        .card {
            position: relative;
            z-index: 5;
            margin: 3rem 1.4rem !important;
            h5 {
                font-weight: bold;
            }
            background-color: white;
            border-radius: 1rem;
            margin: 0rem auto;
            
            height: 100%;
            text-align: left !important;
            padding: .5rem 2rem .5rem 2rem;
            margin-bottom: 2rem;
            .info {
                display: inline-block;
                width: 80%;
                .description {
                    font-family: 'Comfortaa', cursive;
                    padding-top: 1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: #5c5c5c;
                }
                .locationWrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 120%;
                    gap:.4rem;
                    div {
                        cursor: pointer;
                        .location {
                            color:white;
                            font-weight: 200;
                            font-family: 'Comfortaa', cursive;
                            padding: .4rem 0 .4rem .6rem;
                            font-size: .9rem;
                            background-color: rgb(185, 185, 185);
                            text-align: left;
                            border-radius: 5px;
                            margin-bottom: 1.5rem;
                            vertical-align: middle;
                            display: grid;
                            grid-template-columns: 1fr 4fr;
                            align-items: center;

                            span {
                                display: inline-block;
                                vertical-align: middle;
                                line-height: normal;
                            }

                        }                        
                    }
                    
                }

            }
            .more {
                position: relative;
                margin-left: 34%;
                cursor: pointer;
                i {
                    color: gray;
                    display: inline;
                }
                h6 {
                    color: gray;
                    display: inline;
                    padding-left: .7rem;
                }
            }
            @keyframes bounce-in {
                0%{ opacity: 0; transform: scale(.8); }
                // 50%{ opacity: 1; transform: scale(1.0); }
                // 85%{ transform: scale(0.9); }
                100%{ transform: scale(1); }
            }
            .expandInfo {
                display:grid;
                grid-template-columns: 1fr;
                width: 100%;
                
                justify-items: start;
                .address {
                    color: rgb(75, 75, 75);
                    animation: bounce-in .7s ease 0s 1 normal;
                }
                .details {
                    color:rgb(78, 78, 78);
                    font-family: 'Comfortaa', cursive;
                    animation: bounce-in .7s ease 0s 1 normal;
                }                
            }

            .googleMap {
                position: relative;
                // background-color: rgb(199, 199, 199);
                width: 100%;
                height: 11rem;
                margin: 0 auto 2rem auto;
                border-radius: .7rem !important;
                animation: bounce-in .7s ease 0s 1 normal;
            }

            .directions {
                display: inline-block;
                font-size: 3rem;
                margin: 1rem 0 2rem 1rem;
                cursor: pointer;
                width: 10%;
                i {
                    margin: 50% 0 50% 0;
                    float: right;
                    color: #766ec0;
                    font-size: 2.6rem;
                }
            }
            .companyName {
                font-family: 'Comfortaa', cursive;
                margin: 1rem auto;
                font-size: 1.25rem;
                color: #5c5c5c;
            }
        }
    }
    footer {
        background-color: #24296e;
        height: 150px;
        bottom: 0;
        position: absolute;
        width: 100%;
        padding-left: 2rem;
        margin-top: 4rem;
        h5 {
            letter-spacing: .2rem;
            color: white;
            font-family: 'Comfortaa', cursive;
            font-weight: 100;
            padding-top: 2rem;
            position: absolute;
    
        }
        
    }
    
}

$tablet-breakpoint: 720px;
$desktop-breakpoint: 900px;

@media (min-width:$tablet-breakpoint){
    
}

@media(min-width:$tablet-breakpoint) {
    body {
        height: 100%;
        .bg-img {
            padding:0;
            width: 100%;
            // background: url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;
            background-color: #000000;
            background-position: top center;
            background-repeat: no-repeat;
            background-image: url("http://getwallpapers.com/wallpaper/full/3/2/8/974186-free-download-boston-skyline-wallpaper-2560x1440-for-iphone-7.jpg");
        }
        .bg-img:before {
            z-index: 0;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .85;
            background: -webkit-linear-gradient(to top, #C33764, #1D2671),url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;
            background: linear-gradient(to top, #C33764, #1D2671),url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;
    
        }
        .header {
            font-family: 'Yellowtail', cursive;
            color: white;
            font-size: 3.5rem;
            padding-top: 4%;
            margin-left: 4rem;
            text-align: left;
            z-index: 10;
            position: relative;
        }
        #tagline {
            color: white;
            margin: 6rem auto 1.5rem auto;

            font-family: 'Comfortaa', cursive;
            font-weight: bolder;
            position: relative;
            z-index: 5;
            text-align: center;
            .location {
                text-transform: capitalize;
            }
        }
        #filterDeals {
            display:inline-block;
            width: 100%;
            
            
            #locationSelector {
                border: none;
                border-radius: 1rem;
                margin: 2rem auto 8rem 4rem;
                background-color: #ffffff;
                width: 35%;
                z-index: 10;
                overflow-x: hidden;
                left: 0;
                display:inline-block;
                input {
                    border: none;
                    background-color: inherit !important;
                    color: rgb(75, 75, 75);
                    font-size: 1.6rem;
                    z-index: 100 !important;
                    position: relative;
                    width: 100%;
                    background-color: #ffffff  !important;
                    padding-bottom: .5rem; 
                    opacity:.3
                }
                ul {
                    border-top:2px solid rgb(231, 231, 231);
                    padding-top: .5rem;
                    text-align: left !important;
                    padding-left: 2rem;
                    li {
                        list-style-type: none;
                        
                        i {
                            color: gray;
                            font-size: .8rem;
                            margin-right: .6rem;
                        }
                    }
                }
            }
        
            #dayOfWeekSelector {
                margin: 2rem;
                position: relative;
                right: -12rem;
                label {
                    margin: .8%;
                    span {
                        height: 3rem;
                        width: 3rem;
                        line-height: 3.6;
                        cursor: pointer;
                    }
                }
                a {
                    font-size: 1rem;
                    border-radius: 2rem;
                    background-color: #f0dd9beb;
                    border: none;
                    color: #270703;
                    padding: 1rem 2.5rem 1rem 2.5rem;
                }
            }
        }

        #card-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            gap:4rem;
            padding: 0 8rem !important;
            justify-items: end;
            .card:nth-child(even) {
                margin-right:40% !important;
            }
            .card {
                position: relative;
                z-index: 5;
                width: 60%;
                margin: 0 1rem !important;

                h5 {
                    font-weight: bold;
                }
                .info {
                    display: inline-block;
                    width: 80%;
                .description {
                    font-family: 'Comfortaa', cursive;
                    padding-top: 1rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                }
                .locationWrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 90%;
                    gap:1rem;
                    div {
                        .location {
                            color:white;
                            font-weight: 200;
                            font-family: 'Comfortaa', cursive;
                            padding: .4rem 0 .4rem .6rem;
                            font-size: 1.1rem;
                            background-color: rgb(185, 185, 185);
                            text-align: left;
                            border-radius: 5px;
                            margin-bottom: 1.5rem;
                            vertical-align: middle;
                            display: grid;
                            grid-template-columns: 1fr 4fr;
                            align-items: center;
                            max-width: 10rem;
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                line-height: normal;
                            }
                        }                        
                    } 
                }

                }
                
                .directions {
                    display: inline-block;
                    font-size: 3rem;
                    margin: auto 0 auto 1rem;
                    padding: auto 0 auto 0;
                    width: 10%;
                    i {
                        margin: 50% 0 50% 0;
                        float: right;
                        color: #74a6e1;
                        font-size: 2.6rem;
                    }
                }
                .companyName {
                    font-family: 'Comfortaa', cursive;
                    
                    font-size: 1.5rem;
                }
            }
        }
        .seeAllDealsWrapper {
            background: #DA4453;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #802189, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #802189, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            z-index: 5;
            text-align: center;
            max-width: 48%;
            margin: 3rem auto;
            border-radius: .6rem;
            .seeAllDeals {
                color: white;
                font-size: 1.4rem;
                transition: all 2s ease-out;
                font-family: 'Comfortaa', cursive;
                position: relative;
                z-index: 5;
                animation: bounce-in .7s ease 0s 1 normal;
                padding:.7rem;
            }        
        }
        footer {
            margin-top: 4rem;
        }
    }
}