* {
  padding: 0;
  margin: 0; }

body {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 150px !important; }
  body main {
    min-height: 100vh;
    position: relative;
    width: auto;
    text-align: center;
    display: block; }
  body .bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: -webkit-linear-gradient(to top, #C33764, #1D2671), url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed;
    background: linear-gradient(to top, #C33764, #1D2671), url("https://newevolutiondesigns.com/images/freebies/city-iphone-wallpaper-19.jpg") no-repeat center center fixed; }
  body .header {
    font-family: 'Yellowtail', cursive;
    color: white;
    font-size: 2.6rem;
    padding-top: 10%;
    transition: all .8s ease-out;
    margin-left: -6rem; }
  body .header-hide {
    opacity: 0;
    margin-top: -30%; }
  body #filterDeals {
    display: inline-block; }
    body #filterDeals #locationSelector {
      border: none;
      border-radius: 1rem;
      margin: 30% auto 0 auto;
      width: 80%;
      height: 3rem;
      font-size: 1.6rem;
      text-align: center;
      background-color: #fffffff0;
      color: #4b4b4b;
      transition: all 3s ease-out; }
    body #filterDeals .locationSelector-hide {
      margin-bottom: -10%; }
    body #filterDeals #dayOfWeekSelector {
      margin: 3rem auto 0 auto;
      transition: margin 1.7s ease-out;
      transition: transform .5s ease-out; }
      body #filterDeals #dayOfWeekSelector a {
        font-size: 1.6rem;
        border-radius: 2rem;
        background-color: #f0dd9beb;
        border: none;
        color: #270703;
        padding: 1rem 2.5rem 1rem 2.5rem; }
    body #filterDeals .dayOfWeekSelector-animate {
      margin: 1rem auto !important;
      transform: scale(0.7); }
    body #filterDeals #tagline {
      color: white;
      margin: 2rem auto 1.5rem auto;
      transition: all 2s ease-out;
      font-family: 'Comfortaa', cursive;
      font-weight: bolder;
      opacity: 0; }
      body #filterDeals #tagline .location {
        text-transform: capitalize; }
    body #filterDeals .tagline-animate {
      opacity: 1 !important; }
  body #tagline {
    color: white;
    margin: 2rem auto 1.5rem auto;
    transition: all 2s ease-out;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    opacity: 1; }
    body #tagline .location {
      text-transform: capitalize; }
  body #card-wrapper {
    padding-bottom: 2rem; }
    body #card-wrapper #card {
      background-color: white;
      border-radius: 1rem;
      margin: 2rem auto;
      width: 90%;
      height: 100%;
      text-align: left !important;
      padding: .5rem 0 .5rem 2rem;
      margin-bottom: 3rem; }
      body #card-wrapper #card h5 {
        font-weight: bold; }
      body #card-wrapper #card a {
        color: white; }
      body #card-wrapper #card .info {
        display: inline-block;
        width: 70%; }
        body #card-wrapper #card .info .description {
          font-family: 'Abril Fatface', cursive;
          padding-top: 1rem; }
        body #card-wrapper #card .info .location {
          color: white;
          font-weight: 200;
          font-family: 'Comfortaa', cursive;
          padding: .4rem 0 .4rem 0;
          max-width: 60%;
          font-size: .9rem;
          background-color: #b9b9b9;
          text-align: center;
          border-radius: 5px;
          margin-bottom: 1.5rem;
          vertical-align: middle; }
      body #card-wrapper #card .directions {
        display: inline-block;
        font-size: 3rem;
        margin: auto 0 auto 1rem;
        padding: auto 0 auto 0;
        width: 15%; }
        body #card-wrapper #card .directions i {
          margin: 50% 0 50% 0;
          float: right;
          color: #74a6e1; }
      body #card-wrapper #card .companyName {
        font-family: 'Comfortaa', cursive;
        font-size: 1.25rem; }
  body footer {
    background-color: darkblue;
    height: 150px;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-left: 2rem;
    margin-top: 4rem; }
    body footer h5 {
      letter-spacing: .2rem;
      color: white;
      font-family: 'Comfortaa', cursive;
      font-weight: 100;
      padding-top: 2rem;
      position: absolute; }
